
  .main-button {
    text-decoration: none;
    border: none;
    padding: 8px 30px;
    margin: 1.4rem;
    background-color: $button-blue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    z-index:3;
  }

  
  .main-button:active {
    transform: scale(0.94);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }

  .page-container {
    background: #303A52;
    height: 140em;
    width: 100vw;
  }
  