.s4-cc {
  background: $gainsboro;
  border-radius: 2rem;
  width: 85%;
  height: auto;
  margin: $xl-size 0 0 $xl-size;
  padding: 2rem;
  position: absolute;
  overflow: hidden;

  h1{
    margin: 3rem $xl-size;
    font-family: 'Source code pro', Helvetica;
  }

  h5{
    margin-left: 1.7em;
    font-weight: lighter;
  }
}

.s4-cc__ec {
  width: 90%;
  height: auto;
  margin: 3rem 2rem;
  padding: 2rem;

  textarea {
    width: 80%;
    margin: 0 auto;
  }
}


// @media(max-width:450px){
//   .s4-cc__ec{
//     margin: 0;
//   }
// }
// @media(min-width:450px) {
//   .s4-cc{
//     width: 75%;
//   }
// }

@media(max-width:900px) {
  .s4-cc{

    margin : $l-size $m-size;

    h1{
      margin: 3rem 2rem;
    }
  }

  .s4-cc__ec{
    margin: 0;
    width:90%;
  }
}


@media(max-width:450px) {
  .s4-cc{

    margin : $m-size 0 0 $s-size;
    
    h1{
      margin: 3rem 2rem;
    }
  }
}