.entry-form-container {
  width: 90%;
  height: auto;
  margin: 3rem 2rem;
  padding: 2rem;

  textarea {
    width: 80%;
    margin: 0 auto;
  }
}

@media(max-width:800px){
  .entry-form-container{
    margin: 0;
    width:90%;
  }
}

// @media(max-width:450px){
//   .entry-form-container{
//     margin: 0;
//   }
// }