
.header-container {
    background: #39445F; 
	color: white;
    width: 100vw;
    margin: 0;
    border-bottom: 3px solid $header-dark;
}

.header-title {
	display:flex;

	h1 {
		font-family: 'Nunito', sans-serif;
		font-weight: bold;
    	font-size: $l-size;
    	margin: 0 0 0 $m-size;
		padding-bottom: $l-size;
	}
}

.nav-container {
    position: fixed;
    top: 5em;
    right: 0;
    background: #2C354A;
    margin: 2em 0 0 0;
	width: 50%;
	height:100vh;
	text-align: right;
    visibility: hidden;
	z-index:1;

	.nav-is-active & {
		visibility: unset;
	}
	
	li {
		list-style-type: none;
		
	}

	li a {
		text-decoration: none;
		display: block;
		padding: 1em 1em;
		color: white;
		font-weight: 100;
		font-size: 1.6rem;

		&:hover{
			color:$hover-blue;
		}
	}
		
	
	// .nav-signin {
	// 	right: 0; 
	// 	line-height: unset;
	// 	font-size: 1.6rem;
	// }
}


.nav-toggle {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
}


@media(min-width:400px){

	.nav-container {
		display: flex;
		position: relative;
		background: none;
		justify-content: flex-start;
		visibility: unset;
		margin: 0; 
		width: 90%;
		height: 8em;
		z-index:unset;

		li{
			text-decoration: none;
			list-style-type: none;
			text-align: center;
			white-space: nowrap;

			&:nth-child(5){
				margin-left: auto;
				margin-top: $signin-margin-top;
			}

			a{
				margin: 0 $s-size 0 0; 
				
			}

		}

		// button{
		// 	text-decoration: none;
		// 	display: block;
		// 	padding: 1em 1em;
		// 	color: white;
		// 	background:none;
		// 	box-shadow: none;
		// 	margin: 0; 
		// 	font-family: Arial, Helvetica, sans-serif;
		// 	font-weight: 100;
		// 	font-size: 1.6rem;

		// 	&:hover{
		// 			color: $hover-blue;
		// 		}
			
		// }
	}

	.header-title {
	
		h1 {
			font-size: $xl-size;
			margin: $m-size 0 0 $xl-size;
			padding:0;
		}
	}
	
	.nav-signin {
		right: 15rem; 
		line-height: 0.8rem;
		font-size: 1.2rem;
	}

}

@media(min-width:800px){

	.nav-container{
		li a {
			margin: 0 $xl-size 0 0; 
		}
	}
}



.header-logo{
	height:35px; 
	width:40px;
	margin-top:34px;
}

@media (prefers-reduced-motion: no-preference) {
	.header-logo {
		animation: Header-logo-spin infinite 20s linear;
	}
}
  
@keyframes Header-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}