
.s6-hc {
    background: #39445F; 
	color: white;
    width: 100%;
    margin: 0;
    border-bottom: 3px solid $header-dark;
}

.s6-hc__title {
	h1 {
		font-family: 'Nunito', sans-serif;
		font-weight: bold;
    	font-size: $l-size;
    	margin: 0 0 0 $m-size;
		padding-bottom: $l-size;
	}
}

.s6-hc__logo {
	height:35px; 
	width:40px;
	margin: 1em 0.5em -.1em 0.2em;
}

.s6-hc__nc {

	margin: 0;
	height: 0;

    ul {
		position: fixed;
		top: 8em;
		right: 0;
		background: #2C354A;
		margin: 0;
		width: 50%;
		height:100vh;
		text-align: left;
		visibility: hidden;
		z-index:1;

		.nav-is-active & {
			visibility: unset;
		}
		
		li:first-of-type{
			margin-top: 1.5em;
		}

		li {
			list-style-type: none;
		}

		li a {
			text-decoration: none;
			display: block;
			padding: 1em;
			color: white;
			font-weight: 100;
			font-size: 1.2em;

			&:hover{
				color:$hover-blue;
			}
		}
		
	}
}

.s6-hc__toggle {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
}

.s6-hc__signin {
	display: flex;
	margin-top:-1em;
	margin-right:0;
	width: 10em;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
			
	h3 {
		margin-top: 4em;
		font-size: 1em;
		font-weight: 100;
		line-height: 1.8em;
	}
	button {
		margin: 0 1em;
		
	}

	button:focus-visible{
		outline: 1.5px black solid;
	}

}

@media(min-width:450px){

	.s6-hc__nc {

		height: 4em;

		ul {
			display: flex;
			position: relative;
			background: none;
			justify-content: flex-start;
			visibility: unset;
			top: 0;
			margin: 0; 
			width: 90%;
			height: 8em;
			z-index:unset;

			li:first-of-type {
				margin-top: 0;
			}

			li{
				text-decoration: none;
				list-style-type: none;
				text-align: center;
				white-space: nowrap;
				
				&:nth-child(5){
					margin-left: auto;
					margin-top: $signin-margin-top;
				}

				a{
					margin: 0 $s-size 0 0; 
				}
			}
		}
		
	}

	.s6-hc__signin{

		margin-top: -1em;
		margin-right:0;
		width: 12em;
		height: 5.2em;
				
		h3 {
			margin: 1em auto 1em auto;
			font-size: 1em;
			font-weight: 100;
			line-height: 1.2em;
		}
		button {
			margin: 0 auto;
		}
	
	}

	.s6-hc__title {
	
		h1 {
			font-size: $xl-size;
			margin: $m-size 0 0 $xl-size;
			padding:0;
		}
	}

	.s6-hc__logo{
		height:48px; 
		width:55px;
		margin: 1em 0.5em -0.1em 0.2em;
	}

	.s6-hc__link--active {
		border-bottom: 2px solid white;
	}
}

@media(min-width:900px){

	.s6-hc__nc{

		ul li a {
			margin: 0 $xl-size 0 0; 
		}

	}
	
}


@media (prefers-reduced-motion: no-preference) {
	.s6-hc__logo {
		animation: Header-logo-spin infinite 20s linear;
	}
}
  
@keyframes Header-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
