.s3-bc {
  margin-top: 10em;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 115em;

  h3 {
    margin-left: 2rem;
    color: white;
    font-weight: lighter;
    padding-bottom: 2em;
  }
}

.section-1-bi {
  background-color: rgba(35, 36, 39, 0.7); //#33363A;
  border-left: 9px solid $grey-blue;
  color: white;
  padding: $s-size;
  font-family: "Playfair Display", serif;
  margin: 0 0 $l-size 2rem;
  width: 20em;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;

}

.s1-bi__inner {
  padding-top: 1.5em;
  flex: 1 1 auto;
  display: flex;

  p {
    flex: 0 0 18em;
    margin-left: 1em;
  }
}

.s1-bi__entry-wrapper {
  height:20em;
  background: white;
  opacity: 1;
}

.s1-bi__display-wrapper {
  background-color : rgba(35, 36, 50,0);
  height: auto; 
  max-height: 20em;
  width: 92%;
  margin-left: 2em;
}

.s1-bi__upper {
  display: flex;
  flex-direction: column;
  color: white;
  flex: 0 0 5em;

  span {
    margin: 0.8rem 0 0 1.2em;
    font-size: 1em;
    font-weight: 100;
  }

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    margin-left: 1em;
  }
}

.s1-bi__lower{
  margin: 3em 0 0 1em;
}

.s1-bi__image{
  text-align: center;
}

.s1-bi__image img{
  width: auto;
  height: auto;
  max-height: 25em;
  max-width: 25em;
}

@media(min-width:450px) {

  .s3-bc{
    h3{
      margin-top:6rem;
      margin-left: 6rem;
      padding:0;
    }
  }

  .section-1-bi{
    margin: $l-size auto 0 4.2em;
    width: 38em;
  }

  .s1-bi__inner {
    padding-top: 2em;
  
    p {
      flex: 0 0 33em;
      margin-left: $l-size;
    }
  }

  .s1-bi__upper{
    
    span {
      margin: 1rem 0 0 $l-size;
      font-size: 1.2em;
      font-weight: 100;
    }

    h1 {
      font-size: 1.5em;
      margin-left: $l-size;
    }
  }

  .s1-bi__lower{
    margin: $m-size $l-size;
  }

  .s1-bi__entry-wrapper {
    height:40em;
  }
}

@media(min-width:900px) {

  .s3-bc{
    margin-top: 12em;
    
    h3{
      margin-left: 18rem;
    }
  
  }

  .section-1-bi{
    margin: $xl-size auto 0 7em;
    width: 65em;
  }

  .s1-bi__inner {
    padding-top: 2.5em;
  
    p {
      flex: 0 0 60em;
      margin-left: $l-size;
    }
  }

  .s1-bi__upper{
    flex-direction: row;

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 0 0 80rem;
      font-size: 1.8em;
    }
  }

  .s1-bi__lower{
    margin: $m-size $l-size;
  }
}