.list-filter-container {
  background: rgba(35, 36, 39, 0.7);
  border-radius: 1rem;
  width: 20em;
  height: 5rem;
  position: absolute;
  margin: $xl-size auto 0 2rem;
  padding: 1.5rem;
}

.search-title{
  color: white;
  font-size: 0.8em;
  margin: 0 0 0.5em 0.8em;
}

.search-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  background: white;
  outline: 1px solid black;
  height: $m-size;
  width: 20rem;
}

.search-pulldown {
  border: 1px solid black;
  height: $lm-size;
}

@media(min-width:450px) {

  .list-filter-container{
    margin: 3.5em 0 0 4.2em;
  }

}

@media(min-width:800px) {

  .list-filter-container{
    margin: 5em 0 0 7em;
  }

}
