
// > sign indicates that we are targeting divs that are direct descendents as opposed to children of children

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
   align-items: center; 
   display: flex;
   justify-content: center;
  transition: opacity 200ms ease-in-out; 
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.s7-modal {
  background: $gainsboro;
  border: 2px solid darken($gainsboro, 15%);
  border-radius: 20px;
  color: $grey-blue;
  font-size: 16px;
  height:30em;
  width: 17em;
  padding: $l-size;
  text-align: center;

  input {
    width:20rem;
    height: 4rem;
  }

  h6 {
    margin-top: 10rem;
  }

}

.s7-modal__title {
  margin: 0 0 $m-size 0;
}

.s7-modal__error {
  position: absolute;
  right:0;
  left: 0;
  text-align: center;
  margin: auto;
  white-space: pre;
}

.s7-modal__verify{
  margin-top: 14rem;
}

.s7-modal__form{
  margin-top:4em;
  
  input{
    width: 3em;
  }
}

.s7-modal__spacer{
  margin-top: 9em;
}