
// > sign indicates that we are targeting divs that are direct descendents as opposed to children of children

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
   align-items: center; 
   display: flex;
   justify-content: center;
  transition: opacity 200ms ease-in-out; // transition to opacity 1 over 200ms
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $gainsboro;
  border: 5px solid darken($gainsboro, 15%);
  color: $grey-blue;
  font-size: 16px;
  max-width: 30rem;
  outline: 1px solid $grey-blue;
  outline-offset: -5px;
  padding: $l-size;
  text-align: center;
  z-index: 2;

  input {
    width:20rem;
    height: 4rem;
  }

  h6 {
    margin-top: 10rem;
  }
}

.modal-title {
  margin: 0 0 $m-size 0;
}

.modal-error {
  //font-size: 16px;
  position: absolute;
  margin: 20rem 0 0 6.2rem;
  text-align: center;
}

