@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.button {
  height: 4rem;
  width: 12rem;
  border: none;
  border-radius: 2rem;
  background: white;
  cursor: pointer; }

.blog-button {
  position: absolute;
  background: rgba(35, 36, 39, 0.7);
  border: 1px solid #dcdcdc;
  border-radius: 1.5rem;
  color: white;
  height: 3rem;
  width: 9rem;
  z-index: 1;
  margin-left: 95rem;
  margin-top: -8.5rem; }

.delete-button {
  margin-left: 85rem;
  margin-top: -8.5rem; }

button:disabled {
  cursor: default; }

.page-numbers {
  width: 100%;
  text-align: center; }

.page-button {
  position: relative;
  background-color: rgba(35, 36, 39, 0.7);
  color: white;
  margin-right: 0.3rem;
  align-items: center; }

.main-button {
  text-decoration: none;
  border: none;
  padding: 8px 30px;
  margin: 1.4rem;
  background-color: #006bc6;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all; }

.main-button:active {
  transform: scale(0.94);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); }

.entry-form-container {
  width: 100%;
  margin: 3rem auto;
  padding: 2rem; }
  .entry-form-container textarea {
    width: 80%;
    margin: 0 auto; }

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #39445F;
  color: white;
  width: 100vw;
  border-top: 3px solid #33363a; }
  .footer-container ul {
    display: flex;
    flex: 0 0 7rem;
    width: 90%;
    white-space: nowrap;
    align-items: center; }
    .footer-container ul li {
      list-style-type: none;
      margin-right: 4.8rem; }
      .footer-container ul li:nth-child(5) {
        margin-left: auto; }
        .footer-container ul li:nth-child(5) + li {
          margin-right: 0; }
      .footer-container ul li a {
        text-decoration: none;
        color: white;
        align-items: center;
        display: flex;
        justify-content: space-around; }
        .footer-container ul li a:hover {
          color: cornflowerblue; }
      .footer-container ul li p {
        margin-right: 1rem; }

.create-container {
  background: #dcdcdc;
  border-radius: 2rem;
  width: 89%;
  height: 70vh;
  margin: 4.8rem 0 0 4.8rem;
  padding: 2rem;
  position: absolute;
  overflow: scroll auto; }
  .create-container h1 {
    margin-left: 2.5rem;
    font-family: 'Source code pro', Helvetica; }

.hamburger {
  cursor: pointer;
  pointer-events: all;
  position: fixed;
  right: 2em;
  top: 4em;
  width: 24px;
  height: 24px; }

.hamburger-inner {
  right: 0; }

@media (min-width: 400px) {
  .hamburger,
  .hamburger-inner {
    display: none;
    pointer-events: none; } }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 24px;
  height: 2px;
  position: absolute;
  background: white; }
  .invert-color .hamburger-inner, .invert-color
  .hamburger-inner::before, .invert-color
  .hamburger-inner::after {
    background: color-icon(hamburger-inverse); }

.hamburger-inner {
  top: 50%;
  margin-top: -1px;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger-inner::before, .hamburger-inner::after {
    content: '';
    display: block; }
  .hamburger-inner::before {
    top: -7px;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger-inner::after {
    bottom: -7px;
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.1s 0.25s ease-in; }
  .nav-is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .nav-is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
    .nav-is-active .hamburger-inner::after {
      width: 24px;
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.1s ease-out; }

.header-container {
  background: #39445F;
  color: white;
  width: 100vw;
  margin: 0;
  border-bottom: 3px solid #33363a; }

.header-title {
  display: flex; }
  .header-title h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    margin: 0 0 0 1.6rem;
    padding-bottom: 3.2rem; }

.nav-container {
  position: fixed;
  top: 5em;
  right: 0;
  background: #2C354A;
  margin: 2em 0 0 0;
  width: 50%;
  height: 100vh;
  text-align: right;
  visibility: hidden;
  z-index: 1; }
  .nav-is-active .nav-container {
    visibility: unset; }
  .nav-container li {
    list-style-type: none; }
  .nav-container li a {
    text-decoration: none;
    display: block;
    padding: 1em 1em;
    color: white;
    font-weight: 100;
    font-size: 1.6rem; }
    .nav-container li a:hover {
      color: cornflowerblue; }

.nav-toggle {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0; }

@media (min-width: 400px) {
  .nav-container {
    display: flex;
    position: relative;
    background: none;
    justify-content: flex-start;
    visibility: unset;
    margin: 0;
    width: 90%;
    height: 8em;
    z-index: unset; }
    .nav-container li {
      text-decoration: none;
      list-style-type: none;
      text-align: center;
      white-space: nowrap; }
      .nav-container li:nth-child(5) {
        margin-left: auto;
        margin-top: -2.3rem; }
      .nav-container li a {
        margin: 0 1.2rem 0 0; }
  .header-title h1 {
    font-size: 4.8rem;
    margin: 1.6rem 0 0 4.8rem;
    padding: 0; }
  .nav-signin {
    right: 15rem;
    line-height: 0.8rem;
    font-size: 1.2rem; } }

@media (min-width: 800px) {
  .nav-container li a {
    margin: 0 4.8rem 0 0; } }

.header-logo {
  height: 35px;
  width: 40px;
  margin-top: 34px; }

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: Header-logo-spin infinite 20s linear; } }

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.blog-container {
  margin-top: 15rem;
  margin-left: 15rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 120rem;
  height: 180rem; }

.item-container {
  background-color: rgba(35, 36, 39, 0.7);
  border-left: 9px solid #337590;
  color: white;
  padding: 1.2rem;
  font-family: "Playfair Display", serif;
  margin: 0 0 3.2rem 3.2rem;
  width: 100rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative; }
  .item-container h1 {
    margin: 1.6rem; }
  .item-container span {
    float: right;
    font-size: 1.6rem;
    font-weight: 100;
    margin-top: 0.5rem; }

.itemInner {
  padding-top: 2rem;
  flex: 1 0 auto;
  display: flex; }
  .itemInner p {
    flex: 0 0 90rem; }

.itemUpper {
  display: flex;
  align-items: center;
  color: white;
  flex: 0 0 5rem; }
  .itemUpper span {
    margin-left: auto; }
  .itemUpper h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 80rem; }

.list-filter-container {
  background: rgba(35, 36, 39, 0.7);
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  width: 30rem;
  height: 3rem;
  position: absolute;
  margin: 4.8rem auto 0 18rem;
  padding: 1.5rem;
  align-items: center; }

.search-bar {
  background: white;
  outline: 1px solid black;
  height: 1.6rem;
  width: 18rem; }

.search-pulldown {
  border: 1px solid black;
  height: 2.4rem; }

.ReactModalPortal > div {
  opacity: 0; }

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out; }

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1; }

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0; }

.modal {
  background: #dcdcdc;
  border: 5px solid #b6b6b6;
  color: #337590;
  font-size: 16px;
  max-width: 30rem;
  outline: 1px solid #337590;
  outline-offset: -5px;
  padding: 3.2rem;
  text-align: center;
  z-index: 2; }
  .modal input {
    width: 20rem;
    height: 4rem; }
  .modal h6 {
    margin-top: 10rem; }

.modal-title {
  margin: 0 0 1.6rem 0; }

.modal-error {
  position: absolute;
  margin: 20rem 0 0 6.2rem;
  text-align: center; }

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite; }

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px; }

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px; }

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px; }

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px; }

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px; }

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px; }

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px; }

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px; }

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px; }

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px; }

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px; }

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px; }

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); } }

.sponsor-container {
  position: absolute;
  margin-top: 4.8rem;
  margin-left: 15rem; }
  .sponsor-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .sponsor-container li {
    text-decoration: none;
    list-style-type: none;
    text-align: center; }

.page-container {
  background: #303A52;
  height: 300em;
  width: 100vw; }
