html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: -1.6rem;
}

.page-container {
  background: #303A52;
  height: 140em;
  width: 100%;
}

.DraftEditor-editorContainer{
  z-index: 0 !important;
}